<section id="bulk_discount-index-<%= @merchant.id %>">
  <h1><%= @merchant.name %> Bulk Discounts</h1>
    <% @bulk_discounts.each do |bulk_discount|%>
      <ul>
        <li>Percentage Discount: <%= bulk_discount.percentage_discount %></li>
        <li>Quantity Threshold: <%= bulk_discount.quantity_threshold %></li>
        <li><%= link_to "Discount Details", merchant_bulk_discount_path(@merchant, bulk_discount) %></li>
      </ul>
    <% end %><br>
    <p><%= link_to "Create New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %></p>
</section>